.home-main {
  position: relative;
  overflow: hidden;  
  padding-bottom: 80px;
  box-shadow: var(--color-light-blue-4) 0px 0px 1px;

  .intro {
    display: flex;
    align-items: center;
    text-align: left;
    margin: 3rem 0 2rem 6rem;
    max-width: 800px;

    .welcome-text {
      font-size: 3rem;
      margin: 0rem 0 1rem 0;
      color: var(--color-foreground);
    }

    .pulse-animation {
      color: var(--color-light-blue-4);
      font-size: 3rem;
      animation: pulse 2s infinite;
    }
  }
  
  p {
    color: var(--color-foreground);
    text-align: justify;
  } 
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.99);
  }
  100% {
    transform: scale(1);
  }
}