.container {
    text-align: center;
    margin: 20px;
    position: relative;
    max-width: 800px;
    padding: 80px 0 80px 80px;
}

.techWrapper {
    margin-bottom: 20px;
}

.techList {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 50px;
}

.techItem {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px 20px;
    border: 2px solid var(--color-light-blue-3);
    border-radius: 5px;
    background-color: var(--color-dark-blue-1);
    color: var(--color-foreground);
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;
    flex: 1 0 30%;
    max-width: 200px; 
    position: relative;
    z-index: 1;
}

.techItem:hover {
    background-color: var(--color-dark-blue-2);
    transform: scale(1.10);
    z-index: 2;
}

.techDescription {
    margin-top: 20px; 
    padding: 20px;
    border: 2px solid var(--color-light-blue-3);
    border-radius: 5px;
    background-color: var(--color-dark-blue-1);
    color: var(--color-foreground);
    max-width: 300px; 
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}