@import "../../Global.scss";

.contact-box {
  padding: 20px;
  border: 1px solid var(--color-light-blue-3);
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);
  }
}

.contact-card {
  padding: 20px 0 50px 0;
  max-width: 800px;
  margin: auto;
  color: var(--color-foreground);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(25, 47, 88, 0.5);
  padding: 15px;
  border-radius: 8px;
  backdrop-filter: blur(5px);

  h2 {
    text-align: center;
    margin-bottom: 40px;
    color: var(--color-foreground);
  }

  .content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 20px;
  }

  .info-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 400px;
  }

  .info-group {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 8px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 0.3s ease;

    strong {
      color: var(--color-light-blue-3);
    }

    span {
      color: var(--color-foreground);
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }

  .qrcode-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 15px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .qrcode {
    width: 200px;
    height: 200px;
    object-fit: contain;
    border-radius: 8px;
  }
}

@media (max-width: 768px) {
  .content-container {
    flex-direction: column;
    align-items: center;
  }

  .info-container {
    max-width: 100%;
  }

  .qrcode-container {
    width: 100%;
  }
}
